/* Folha de Estilos para Boletos */

/* Estilos para zerar navegadores */

* {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    vertical-align:baseline;
}

/* Container */

div#bol_container {
	font-family: Arial, Verdana, Geneva, sans-serif;	
	font-size: small;
	width: 905px;
	margin: 5px 0px 0px 5px;
}

/* Estilos do Boleto */

div#bol_container table {
	font-family: "Times New Roman", serif;		
	font-size: 11px;
	width: 100%;
	text-align: left;
	border-collapse: collapse;
	border: 1px solid #ccc;
}

div#bol_container table tr, div#bol_container table td {
	border-collapse: collapse;
	border: 1px solid #ccc;	
}

div#bol_container table td {
	padding: 1px 3px 0px 3px;
}

div#bol_container table.bol_big_font {
	font-size: 200%;
	width: 100%;
	font-weight: bold;
	margin-bottom: -1px;
	margin-top: -1px;
	padding-top: 5px;
}

div#bol_container table td .bol_fonte_span {
	font-size: 120%;
}

div#bol_container table.bol_big_font td {
	padding: 0px 20px 0px 5px;
	border: 1px solid transparent;
}

div#bol_container table td.bol_fundo_valor {
	background: #ddd;
}

div#bol_container table.bol_tabela_interna, div#bol_container table.bol_tabela_interna3 {
	width: 100%;
	margin-bottom: -13px;
	margin-top: -3px;
	margin-left: -3px;
	border-right: 1px solid transparent;
}

div#bol_container table.bol_tabela_interna td {
	border: 1px solid transparent;
	padding-right: 40px;
}

div#bol_container table.bol_tabela_interna td.bol_padding_right2 {
	padding-right: 450px;
}


div#bol_container table td.bol_border_right {
	border-right: 1px solid #ccc;
}

table span.bol_float {
	float: right;
}

table span.bol_big {
	font-size: 14pt;
}

table span#bol_bdl {
	margin-top: -13px;
}

div#bol_container table td.bol_padding_right {
	padding-right: 120px;
}


div#bol_container table td.bol_paddig_bottom {
	padding-bottom: 28px;
}

div#bol_container table tr.bol_sacador {
	border-right: 1px solid transparent;
}

div#bol_container table tr.bol_sacador td {
	padding-top: 10px;
	padding-bottom: 15px;
}

div#bol_container table div.bol_cod_barras {
	float: left;
}

